<div class="music">

  {{#each items}}
  <div class="item {{ type }}">
    <div class="image left" style="background-image: url('{{ meta.previewImage }}')"></div>
    <div class="info left">
      <h3><a href="{{ url }}" target="_blank">{{ meta.title }}</a></h3>
      <p class="sub-info duration">duration: {{ duration meta.duration }}</p>
      <p class="sub-info plays">play count: {{#if meta.plays}} {{ mkay meta.plays }} {{else}} &mdash; {{/if}}</p>
      <p class="sub-info likes">likes: {{ mkay meta.likes }}
    </div>
    <div class="clearfix"></div>
  </div>
  {{/each}}

</div>
